* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

header,
footer {
    height: 4em;
    background: #eee;
    padding: 0 1em;
}

main {
    min-height: calc(100% - 8em);
    padding: 1em;
}

.site-id {
    padding: 0.2em;
}

.site-id:hover {
    background: #ddd;
}

.site-id:active {
    text-decoration: underline;
}

.site-id img {
    position: relative;
    top: 0.15em;
    width: 2em;
}

.site-id a {
    font-size: 2em;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

nav a:focus {
    background-color: #eee;
}

.legal p::first-letter {
    font-size: 2em;
    font-weight: bold;
}

.legal p {
    line-height: 1.15em;
}

header {
    display: grid;
    justify-items: start;
    align-items: center;
}

footer {
    display: grid;
    justify-items: center;
    align-items: center;
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
}

main nav {
    display: grid;
    grid-template-columns: 50% 50%;
}