* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

header, footer {
    height: 4em;
    background: #eee;
    padding: 0.5em;
}

main {
    min-height: calc(100% - 8em);
}

.site-id {
    font-size: 2em;
    text-decoration: none;
    color: inherit;
}

.logo {
    font-weight: bold;
}

